{%extends 'blog/layout.html'%}

{% block content %}

{% if latest_post_list %}

{% for post in latest_post_list %}
{% include 'blog/partials/post.html' %}
{%endfor%}

{%else%}
<p>No posts available.</p>
{%endif%}

          <nav>
            <ul class="pager">
            {% if latest_post_list.has_previous %}
              <li><a href="?page={{ latest_post_list.previous_page_number }}">Previous</a></li>
            {%endif%}
            
            {%if latest_post_list.has_next %}
              <li><a href="?page={{ latest_post_list.next_page_number }}">Next</a></li>
              {%endif%}
              
              <li>Page {{ latest_post_list.number }} of {{ latest_post_list.paginator.num_pages }}.</li>
            </ul>
          </nav>
{% endblock %}

       